amqp
annotated-types
asgiref
billiard
celery
cffi
click
click-didyoumean
click-plugins
click-repl
colorama
contextlib2
cryptography
diff-match-patch
Django
django-cors-headers
django-import-export
django-maintenance-mode
django-ninja
django-jazzmin
django-ninja-extra
django-ninja-jwt
django-ninja-passwordreset
django-simple-history
dnspython
email_validator
et_xmlfile
gunicorn
h11
idna
injector
kombu
ninja-schema
openpyxl
packaging
pdf2image
pillow
prompt_toolkit
psycopg2-binary
pycparser
PyJWT
python-dateutil
python-decouple
python-dotenv
python-fsutil
six
sorl-thumbnail
sqlparse
tablib
typing_extensions
tzdata
uvicorn
vine
wcwidth